{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <header class="header">
        <div class="primary-header">
            <div class="container">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">FAQ</a>
                    <a href="#">Contact us</a>
                </nav>
                <nav>
                    <a href="#">
                        <img src="{% static './img/threads.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static './img/telegram.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static './img/instagram.svg' %}" alt="">
                    </a>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="secondary-header">
                <div class="container-fluid">
                    <a href="{% url 'admin:index' %}">
                        <img src="{% static './img/user.svg' %}" alt="">
                        <span>Login</span>
                    </a>
                    <a href="#" class="logo">
                        <img src="{% static './img/logo.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img src="{% static './img/phone.svg' %}" alt="">
                        <span>+7 777 123 45 67</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="third-header">
                <div class="container-fluid">
                    <nav>
                        <a href="#">All news</a>
                        <!-- Backend-->
                        {% for category in categories %}
                        <a href="{% url 'news_by_category' pk=category.pk %}">{{ category.name }}</a>
                        {% endfor %}
                    </nav>
                    <a href="{% url 'search_page' %}">
                        <img src="{% static './img/search.svg' %}" alt="">
                        <span>Search</span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <a href="#"><img src="{% static './img/logo-white.svg' %}" alt=""></a>
            <p>&copy; TOO Qaznews 2026, All rights reserved</p>
        </div>
    </footer>
</body>

</html>