{% extends 'base.html' %}

{% block title %}Search news{% endblock %}

{% block content %}
<section class="main-block">
            <div class="container-fluid">
                <div class="news-block">
                    <h4>Search</h4>
                    <form action="{% url 'search_results' %}" method="get">
                        <label for="search">Enter news title or description</label>
                        <input id="search" name="q" type="text" placeholder="Title or Description" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
                                <div class="adv-block">
                    <h3>Advertising</h3>
                    <div class="adv-block-data">
                        {% for adv in advs %}
                        <div class="adv-block__content">
                            <img src="{{ adv.image_url }}" alt="{{ adv.name }}">
                        </div>
                        {% endfor %}
            </div>
        </section>
{% endblock %}